@model Dish

<div class="col-sm-3">
    <div class="card-deck">
        <div class="card shadow">
            <img class="card-img-top img-thumbnail" src="@Model.ImageUrl" />
            <div class="card-body">
                <h3 class="pull-right">@Model.Price</h3>
                <h4 class="card-title">
                    <a asp-controller="Dish" asp-action="Details" asp-route-id="@Model.DishId">
                        @Model.DishName
                    </a>
                </h4>
                <p class="card-text">
                    &ldquo; @Model.Description &rdquo;
                </p>
                <a class="lnk btn btn-success btn-block mt-2" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-dishId="@Model.DishId">
                    Add to Cart
                </a>

            </div>
        </div>
    </div>

</div>

